body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #98b9f2;
}

.calculadora {
  width: 400px;
  height: 600px;
  background: #306bac;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .6);
}