@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #98b9f2;
  font-family: 'Roboto', sans-serif;
}

.calculadora {
  width: 400px;
  height: 600px;
  background: #306bac;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .6);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px
}

.display {
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 8px;
}

.button-row {
  display: flex;
  gap: 18px;
  flex: 1;
}

.button {
  flex: 1;
  background: #dadada;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  color: #515151;
}

.button:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.08);
  background: #b1b1b1;
}

.button.deactivated {
  background: transparent;
}